<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tableros de Mensajes</title>
  <link href="/public/bootstrap.min.css" rel="stylesheet">
  <script src="/public/jquery-3.5.1.min.js"></script>
  <script src="/public/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <h2 class="mx-auto d-block text-center shadow p-3 mb-3 rounded">The Dojo Message Board</h2>

  <div class="container border">

    <div class="row">

      <form action="/" method="POST" class="col-8 offset-2 formulario">
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Name:</label>
          <input type="text" class="form-control" name="name" required>
          <label for="post" class="col-sm-2 col-form-label">Message:</label>
          <textarea id="content" name="post" rows="4" cols="50" required></textarea>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary mb-3" type="submit">Post message</button>
        </div>

      </form>

    </div>
    <br>
    <div class="message">
      
      <% for (message of Mssge) { %>
        <div class="border border-1 p-5 rounded-start m-3"><!--contenido-->
          <h3 class="bg-gradient">Name: <%= message.name %></h4>
          <h4>Message: <%= message.post %></h4>
            
          <% for (comenty of Commentary) { %>
            <h3>Name: <%= comenty.names %></h4>
            <h4>Message: <%= comenty.comt %></h4>
          <% } %>
          <br>  <!--Comentario-->
          <div class="row comments border border-1 rounded-start justify-content-md-end">
            <form action="/" method="POST" class="col offset-1 formulario border-4 shadow rounded">
              <input type="hidden" name="msgId" class="form-control" value="<%= Mssge.id %>">
            <div class="col col-11">
              <label for="names" class="col-sm-2 col-form-label">Name:</label>
              <input type="text" class="form-control" name="names" required>
              <label for="post" name="comt" class="col-sm-2 col-form-label">Commentary:</label>
              <textarea class="form-control" id="" name="comt" required></textarea>
            </div>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-info mb-3" type="submit">post commentary</button>
            </div>  
            
          </form>    
        </div>
      </div>
      <% } %>

    </div><!-- final message-->
  </div><!--final container-->
</body>
</html>